<nb-card>

    <nb-card-header>
        {{ 'group.action.import' | translate }}
    </nb-card-header>

    <nb-card-body>

        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            <strong>{{ 'alert.error' | translate }}</strong> {{ 'group.alert.fileUploadError' | translate }}
            <br>
            {{ errorMessage }}
        </div>

        <h4>{{ 'group.title.csvFormat' | translate }}</h4>
        <ul class="mb-5" [innerHTML]="'group.text.fileRequirements' | translate">
        </ul>

        <ngx-dropzone (onFileDrop)="setFile($event)"></ngx-dropzone>

    </nb-card-body>

    <nb-card-footer>

        <div ngxAutoFloat class="btn-group btn-divided-group">

            <button class="btn btn-md btn-secondary" type="button" (click)="dismissModal()">
                {{ 'form.action.abort' | translate }}
            </button>

            <button class="btn btn-md btn-primary active" type="button" [disabled]="!file" (click)="upload()">
                {{ 'group.action.import' | translate }}
            </button>

        </div>

    </nb-card-footer>

</nb-card>
