<nb-card>

    <nb-card-header>
        {{ 'module.confirmation.confirm' | translate }}
    </nb-card-header>

    <nb-card-body>
        {{ message }}
    </nb-card-body>

    <nb-card-footer>

        <div ngxAutoFloat class="btn-group btn-divided-group">

            <button class="btn btn-md btn-secondary" type="button" (click)="dismissModal()">
                {{ 'form.action.abort' | translate }}
            </button>

            <button class="btn btn-md active btn-{{ severity }}" type="button" (click)="confirm()">
                {{ 'module.confirmation.confirm' | translate }}
            </button>

        </div>

    </nb-card-footer>

</nb-card>
