<div th:fragment="passwordPolicy" class="card border-info mb-3">
    <div class="card-body text-info">
        <h5 class="card-title" th:text="#{password.policy.title}"></h5>
        <p class="card-text"></p>
        <ul>
            <li th:text="#{password.policy.rule1}"></li>
            <li th:text="#{password.policy.rule2}"></li>
            <li th:text="#{password.policy.rule3}"></li>
            <li th:text="#{password.policy.rule4}"></li>
            <li th:text="#{password.policy.rule5}"></li>
            <li th:text="#{password.policy.rule6}"></li>
            <li th:text="#{password.policy.rule7}"></li>
        </ul>
    </div>
</div>