<app-simple-page pageTitle="Group Management"
                 i18n-pageTitle
                 cardTitle="Overview"
                 i18n-cardTitle>
  <app-layout-buttons>
    <app-layout-button (click)="openImportModal()"
                       buttonType="primary"
                       text="Import"
                       i18n-text
                       [icon]="faUpload"
                       data-test-selector="import-groups">
    </app-layout-button>
  </app-layout-buttons>

  <app-text-alert [alert]="alert"></app-text-alert>

  <table class="table" data-test-selector="group-table">
    <thead>
    <tr>
      <th i18n>Actions</th>
      <th i18n>Name</th>
      <th i18n>Coach</th>
      <th i18n>Status</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let overviewGroup of groups$ | async">
      <td>
        <app-single-button text="Manage"
                           i18n-text
                           [routerLink]="groupDetailPrefixPath + overviewGroup.group.name">
        </app-single-button>
      </td>
      <td>{{overviewGroup.group.name}}</td>
      <td>{{overviewGroup.group.coach}}</td>
      <td>
        <app-status [status]="overviewGroup.status"></app-status>
      </td>
    </tr>
    </tbody>
  </table>
</app-simple-page>
