@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

:host {
  display: flex;
  height: 100%;
}

@include media-breakpoint-down(sm) {
  .mobile-card {
    flex: 1;
  }
}
