<ngx-page-title [title]="('page.group' | translate:{name: activeGroup.name}) + ' -'" [subtitle]="activeGroup.coach.name"></ngx-page-title>

<div class="row">

    <div class="col-lg-12">

        <nb-card [nbSpinner]="loading">

            <nb-card-header style="position: relative">

                <span>{{ 'group.title.participants' | translate }}</span>

                <div ngxAutoFloat class="btn-group btn-divided-group">

                    <button type="button" class="btn btn-primary btn-sm active btn-with-icon" (click)="openParticipateModel()">
                        <i class="fa fa-plus-circle"></i> {{ 'participation.action.lateParticipation' | translate }}
                    </button>

                </div>

            </nb-card-header>

            <nb-card-body>

                <div *ngIf="createSuccess" class="alert alert-success" role="alert">
                    <strong>{{ 'alert.great' | translate }}</strong> {{ 'participant.alert.createSuccess' | translate }}
                </div>

                <div *ngIf="editSuccess" class="alert alert-success" role="alert">
                    <strong>{{ 'alert.great' | translate }}</strong> {{ 'participant.alert.saveSuccess' | translate }}
                </div>

                <div *ngIf="deleteSuccess" class="alert alert-success" role="alert">
                    <strong>{{ 'alert.great' | translate }}</strong> {{ 'participant.alert.deleteSuccess' | translate }}
                </div>

                <table class="table">

                    <thead>
                    <tr class="ng2-smart-titles">
                        <th class="ng2-smart-th">{{ 'group.label.actions' | translate }}</th>
                        <th class="ng2-smart-th">{{ 'participant.label.surname' | translate }}</th>
                        <th class="ng2-smart-th">{{ 'participant.label.prename' | translate }}</th>
                        <th class="ng2-smart-th">{{ 'participant.label.gender' | translate }}</th>
                        <th class="ng2-smart-th">{{ 'participant.label.address' | translate }}</th>
                        <th class="ng2-smart-th">{{ 'participant.label.absent' | translate }}</th>
                        <th class="ng2-smart-th">{{ 'participation.label.sports' | translate }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let participant of participantList">
                        <td>
                            <nb-actions size="small">
                                <nb-action icon="nb-arrow-retweet" *ngIf="participationIsClosed()" (click)="participant.actionClicked('REPARTICIPATE')"></nb-action>
                                <nb-action icon="nb-edit" (click)="participant.actionClicked('EDIT')"></nb-action>
                                <nb-action icon="nb-trash" (click)="participant.actionClicked('DELETE')"></nb-action>
                            </nb-actions>
                        </td>
                        <td>{{ participant.surname }}</td>
                        <td>{{ participant.prename }}</td>
                        <td>{{ participant.gender | translate }}</td>
                        <td>{{ participant.address }}</td>
                        <td>
                            <input type="checkbox" class="form-control" [(ngModel)]="participant.absent" (change)="participant.absentChanged()">
                        </td>

                        <td *ngIf="participationIsOpen() || participant.isReparticipate">

                            <div class="input-group">
                                <select class="form-control" [(ngModel)]="participant.sport" (change)="participant.sportChanged()">
                                    <option *ngFor="let sport of sports" [value]="sport.name">{{ sport.name | translate }}</option>
                                </select>
                                <span class="input-group-append" *ngIf="participant.isReparticipate">
                                    <button class="btn btn-secondary btn-icon input-group-text" (click)="participant.isReparticipate = false">
                                      <i class="nb-close"></i>
                                    </button>
                                </span>
                            </div>

                        </td>

                        <td *ngIf="participationIsClosed() && !participant.isReparticipate">{{ participant.sport ? (participant.sport | translate) : ('label.notDefined' | translate) }}</td>

                    </tr>
                    </tbody>

                </table>

            </nb-card-body>
        </nb-card>

    </div>

</div>
