
<div *ngIf="root">

        <div>

            <span *ngIf="root.children.length > 0" class="mr-1 ml-1">
                <i *ngIf="root.collapsed && currentDirection === 'ltr'" class="nb-arrow-dropright" (click)="root.toggleCollapse()"></i>
                <i *ngIf="root.collapsed && currentDirection === 'rtl'" class="nb-arrow-dropleft" (click)="root.toggleCollapse()"></i>
                <i *ngIf="!root.collapsed" class="nb-arrow-dropdown" (click)="root.toggleCollapse()"></i>
            </span>

            <span *ngIf="root.children.length < 1" class="mr-2 ml-2"></span>

            <input id="tree-checkbox-{{root.label}}" type="checkbox" class="mr-1 ml-1" [(ngModel)]="root.checked" (change)="root.triggerChange(root.checked)">
            <label class="mr-1 ml-1">
                {{ root.label }}
            </label>
        </div>

        <div *ngIf="root.children.length > 0" class="collapse ml-3 mr-3 mb-3" [ngClass]="{ 'show': !root.collapsed }">

            <div class="row">

                <div *ngFor="let child of root.children" class="{{child.columnClass}}">
                    <ngx-tree-checkbox [root]="child"></ngx-tree-checkbox>
                </div>

            </div>

        </div>

</div>


