<section>

    <div class="filter-wrapper">

        <input [formControl]="queryField" type="text" required class="form-control" [placeholder]="settings.placeHolder"/>

        <div #searchResultBox class="filter-select">

            <nb-list>

                <nb-list-item class="search-result" *ngFor="let result of searchResults" (click)="emit(result.value)">
                    {{ result.displayValue }}
                </nb-list-item>

                <nb-list-item *ngIf="searchResults.length === 0 && queryField.valid">
                    No result found
                </nb-list-item>

            </nb-list>

        </div>

    </div>

</section>
