@import "~bootstrap/scss/bootstrap";

.drop-container {
  border-width: 3px;
  border-style: dashed;
  position: relative;

  &.bg-light-dark {
    background-color: $gray-400;
  }

  .delete-icon {
    cursor: pointer;
  }

  .input-element {
    visibility: hidden;
    position: absolute;
  }
}


