@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

@include media-breakpoint-up(sm) {
  .layout-buttons {
    position: absolute;
    right: 20px;
    transform: translateY(-40px);
  }
}

@include media-breakpoint-down(sm) {
  .layout-buttons {
    margin-bottom: 20px;
  }
}
