
<form class="modal-lg" #participationForm="ngForm" (ngSubmit)="submit(participationForm)">

    <nb-card>

        <nb-card-header>
            {{ 'participation.action.lateParticipation' | translate }}
        </nb-card-header>

        <nb-card-body>

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputFirstName">{{ 'participant.label.prename' | translate }}</label>
                        <input type="text" class="form-control" id="inputFirstName"
                               name="firstName"
                               ngModel
                               #firstName="ngModel"
                               [ngClass]="{ 'form-control-danger': firstName.dirty && firstName.invalid }"
                               required>
                        <small *ngIf="firstName.dirty && firstName.invalid" class="form-text">
                            {{ 'form.validation.required' | translate }}
                        </small>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputLastName">{{ 'participant.label.surname' | translate }}</label>
                        <input type="text" class="form-control" id="inputLastName"
                               name="lastName"
                               ngModel
                               #lastName="ngModel"
                               [ngClass]="{ 'form-control-danger': lastName.dirty && lastName.invalid }"
                               required>
                        <small *ngIf="lastName.dirty && lastName.invalid" class="form-text">
                            {{ 'form.validation.required' | translate }}
                        </small>
                    </div>
                </div>

                <label class="col-sm-3">{{ 'participant.label.gender' | translate }}</label>

                <div class="col-sm-3">
                    <div class="form-check">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" required name="gender" value="MALE" ngModel>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ 'MALE' | translate }}</span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" required name="gender" value="FEMALE" ngModel>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{ 'FEMALE' | translate }}</span>
                        </label>
                    </div>
                </div>

                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="inputBirthday">{{ 'participant.label.birthday' | translate }}</label>
                        <div class="input-group">

                            <input class="form-control" id="inputBirthday" readonly [nbDatepicker]="datepicker" type="text" name="birthday" ngModel #birthday="ngModel" required>
                            <small *ngIf="birthday.dirty && birthday.invalid" class="form-text">
                                {{ 'form.validation.required' | translate }}
                            </small>
                            <nb-datepicker #datepicker></nb-datepicker>

                        </div>

                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="inputAddress">{{ 'participant.label.address' | translate }}</label>
                        <input type="text" class="form-control" id="inputAddress"
                               name="address"
                               ngModel
                               #address="ngModel"
                               [ngClass]="{ 'form-control-danger': address.dirty && address.invalid }"
                               required>
                        <small *ngIf="address.dirty && address.invalid" class="form-text">
                            {{ 'form.validation.required' | translate }}
                        </small>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputPLZ">{{ 'participant.label.zipCode' | translate }}</label>
                        <input type="text" class="form-control" id="inputPLZ"
                               name="zipCode"
                               ngModel
                               #zipCode="ngModel"
                               [ngClass]="{ 'form-control-danger': zipCode.dirty && zipCode.invalid }"
                               required>
                        <small *ngIf="zipCode.dirty && zipCode.invalid" class="form-text">
                            {{ 'form.validation.required' | translate }}
                        </small>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputOrt">{{ 'participant.label.town' | translate }}</label>
                        <input type="text" class="form-control" id="inputOrt"
                               name="town"
                               ngModel
                               #town="ngModel"
                               [ngClass]="{ 'form-control-danger': town.dirty && town.invalid }"
                               required>
                        <small *ngIf="town.dirty && town.invalid" class="form-text">
                            {{ 'form.validation.required' | translate }}
                        </small>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="inputAddress">{{ 'participation.label.sports' | translate }}</label>
                        <select class="form-control" name="sport" ngModel #sport="ngModel" required>
                            <option *ngFor="let sport of sports" [ngValue]="sport">{{ sport.name | translate }}</option>
                        </select>
                    </div>
                </div>
            </div>

        </nb-card-body>

        <nb-card-footer>

            <div ngxAutoFloat class="btn-group btn-divided-group">

                <button class="btn btn-md btn-secondary" type="button" (click)="dismissModal()">
                    {{ 'form.action.abort' | translate }}
                </button>

                <button class="btn btn-md btn-primary active" [disabled]="participationForm.invalid" type="submit">
                    {{ 'form.action.save' | translate }}
                </button>

            </div>

        </nb-card-footer>

    </nb-card>

</form>
