<app-submit-modal [title]="title"
                  [alert]="alert"
                  [isSubmitEnabled]="passwordControl.valid"
                  (cancel)="cancel()"
                  (submitData)="submit()">
  <app-password-input [formControl]="passwordControl"></app-password-input>

  <div *ngIf="passwordControl.errors?.psaPassword as violatedPolicies"
       class="invalid-feedback d-block">
    <app-password-policy-feedback [violatedPolicies]="violatedPolicies"></app-password-policy-feedback>
  </div>

  <br/>

  <app-password-policy></app-password-policy>
</app-submit-modal>
