<fieldset class="form-group" [formGroup]="form">
  <legend class="col-form-label pt-0" i18n>Gender</legend>
  <div class="form-check">
    <input class="form-check-input"
           type="radio"
           id="genderRadiosMale"
           [formControlName]="formControl.gender"
           [value]="GenderDto.MALE">
    <label class="form-check-label" for="genderRadiosMale" i18n>
      Male
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input"
           type="radio"
           id="genderRadiosFemale"
           [formControlName]="formControl.gender"
           [value]="GenderDto.FEMALE">
    <label class="form-check-label" for="genderRadiosFemale" i18n>
      Female
    </label>
  </div>
</fieldset>
