<div class="modal-header">
  <h4 class="modal-title" i18n>Confirm</h4>
  <button type="button" class="close" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{text}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="cancel()" i18n>
    Cancel
  </button>
  <button type="submit"
          ngbAutofocus
          class="btn btn-danger"
          (click)="confirm()"
          i18n>
    Confirm
  </button>
</div>
