@import "~bootstrap/scss/bootstrap";

:host {
  display: flex;
  flex-direction: row;
  height: calc(100% - 56px);
}

.sidebar {
  flex: 1;
}

.pages-container {
  flex: 6;
  display: flex;
  flex-direction: column;

  .container-fluid {
    flex: 8;
    background-color: var(--light);
  }

  .footer {
    max-height: 80px;
    min-height: 70px;
  }
}
