<div class="input-group" >
    <span class="input-group-prepend">
        <button class="btn btn-secondary btn-icon input-group-text" [disabled]="previousIndex < 0" (click)="selectPrevious()">
            <i class="nb-arrow-left"></i>
        </button>
    </span>

    <span class="input-group-prepend" *ngIf="label">

        <div class="input-group-text">
            {{ label }}
        </div>

    </span>

    <select class="form-control" [(ngModel)]="selectedValue" (ngModelChange)="change()">
        <option *ngFor="let option of data" [ngValue]="option">{{ settings.onDisplay(option) }}</option>
    </select>
    <span class="input-group-append">
        <button class="btn btn-secondary btn-icon input-group-text" [disabled]="nextIndex < 0" (click)="selectNext()">
          <i class="nb-arrow-right"></i>
        </button>
    </span>
</div>
