<div class="card border-info mb-3">
  <div class="card-body text-info">
    <h5 class="card-title" i18n>Password Policy</h5>
    <p class="card-text"></p>
    <ul>
      <li i18n>Must be between 8 and 64 characters long</li>
      <li i18n>Must contain at least 1 digit</li>
      <li i18n>Must contain at least 1 lowercase character</li>
      <li i18n>Must contain at least 1 uppercase character</li>
      <li i18n>Must contain at least 1 alphabetical character</li>
      <li i18n>Must contain at least 1 special character</li>
      <li i18n>Must not contain any whitespaces</li>
    </ul>
  </div>
</div>
