<!DOCTYPE html>
<html lang="de">

<head th:replace="fragments/main :: head(Dashboard)">
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav th:replace="fragments/main :: navigation(dashboard, dashboard)">
    </nav>

    <div class="content-wrapper py-3">

        <div class="container-fluid">

            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->


</body>

</html>
