<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/assets/brand/psa-logo.svg" width="30" height="30" class="d-inline-block align-top"
         alt="PSA Logo">
    PSA
  </a>

  <div class="navbar flex-grow-1">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle role="button">
          <fa-icon [icon]="faUser"></fa-icon> {{ username$ | async }}
        </a>
        <div ngbDropdownMenu class="dropdown-menu">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()" i18n>Change password</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()" i18n>Sign out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
