.result-input-container {
  max-width: 400px;
}

.error-message {
  display: block !important;
}

// Fix the distance prepend text with a min width to make it even
.distance-pre-text {
  min-width: 134px;
}
