<app-row-page pageTitle="Events Sheets" i18n-pageTitle>

  <app-row-layout>
    <app-column-layout title="Participant list" i18n-title size="3">
      <app-layout-buttons>
        <app-layout-button text="Download"
                           i18n-text
                           buttonType="primary"
                           [icon]="faDownload"
                           [showLoading]="isParticipantListDownloading$ | async"
                           [disabled]="participantListTree.isChecked === false"
                           (clickHandler)="downloadParticipantList()">
        </app-layout-button>
      </app-layout-buttons>

      <app-check-box-tree [tree]="participantListTree"></app-check-box-tree>
    </app-column-layout>

    <app-column-layout *ngIf="eventSheetsTree" title="Event Sheets" i18n-title size="9">
      <app-layout-buttons>
        <app-layout-button text="Download"
                           i18n-text
                           buttonType="primary"
                           [disabled]="eventSheetsTree.isChecked === false"
                           [showLoading]="isEventSheetsDownloading$ | async"
                           [icon]="faDownload"
                           (clickHandler)="downloadEventSheets()">
        </app-layout-button>

        <app-layout-button text="Download startlist"
                           i18n-text
                           buttonType="secondary"
                           [showLoading]="isStartlistDownloading$ | async"
                           [icon]="faDownload"
                           [disabled]="isParticipationOpen$ | async"
                           (clickHandler)="downloadStartlist()">
        </app-layout-button>
      </app-layout-buttons>

      <app-athletics-not-started *ngIf="isParticipationOpen$ | async; else tree"></app-athletics-not-started>

      <ng-template #tree>
        <app-check-box-tree [tree]="eventSheetsTree"></app-check-box-tree>
      </ng-template>
    </app-column-layout>
  </app-row-layout>
</app-row-page>
