<ngx-page-title [title]="'page.users' | translate"></ngx-page-title>

<div class="row">

    <div class="col-lg-12">

        <nb-card>

            <nb-card-header>

                <span>{{ 'settings.users.title.default' | translate }}</span>

                <div ngxAutoFloat class="btn-group btn-divided-group">

                    <button type="button" class="btn active btn-sm btn-primary btn-with-icon" (click)="openCreateUserModal()">
                        <i class="fa fa-plus-circle"></i> {{ 'settings.users.action.create' | translate }}
                    </button>

                </div>

            </nb-card-header>

            <nb-card-body>

                <table class="table">

                    <thead>
                    <tr>
                        <th class="ng2-smart-th">{{ 'label.actions' | translate }}</th>
                        <th class="ng2-smart-th">{{ 'settings.users.label.username' | translate }}</th>
                        <th class="ng2-smart-th">{{ 'settings.users.label.enabled' | translate }}</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr *ngFor="let user of userList">
                        <td>
                            <nb-actions size="small">
                                <nb-action (click)="openChangePasswordModal(user)" icon="fa fa-key"></nb-action>
                                <nb-action (click)="deleteUser(user)" icon="nb-trash"></nb-action>
                            </nb-actions>
                        </td>
                        <td>{{ user.username }}</td>
                        <td>
                            <input type="checkbox" class="form-control" [(ngModel)]="user.enabled" (change)="toggleEnableStatus(user)">
                        </td>
                    </tr>

                    </tbody>

                </table>

                <p *ngIf="userList.length < 1">{{ 'settings.users.text.noUsers' | translate }}</p>

            </nb-card-body>

        </nb-card>

    </div>

</div>
