<div class="mt-3">
  <button class="btn btn-outline-info" [routerLink]="groupManagementLink" i18n>Go back</button>
</div>

<app-simple-page *ngIf="group$ | async as group"
                 [pageTitle]="group.name"
                 [pageSubTitle]="group.coach"
                 cardTitle="Participants"
                 i18n-cardTitle
                 [alert]="alert$ | async">
  <app-layout-buttons>
    <app-layout-button (clickHandler)="openAddParticipantModal()"
                       buttonType="primary"
                       text="Add participant"
                       i18n-text
                       [icon]="faPlusCircle"
                       data-test-selector="add-participant">
    </app-layout-button>
  </app-layout-buttons>

  <table *ngIf="participants$ | async as participants; else spinner"
         appNoEntries
         [rowCount]="participants.length"
         columnCount="7"
         class="table"
         data-test-selector="participant-table">
    <thead>
    <tr>
      <th i18n>Actions</th>
      <th i18n>Surname</th>
      <th i18n>Prename</th>
      <th i18n>Gender</th>
      <th i18n>Address</th>
      <th i18n>Absent</th>
      <th i18n>Sport Type</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let participant of participants">
      <td>
        <app-button-group>
          <app-button-group-item text="Edit"
                                 i18n-text
                                 (click)="openEditParticipantModal(participant)">
          </app-button-group-item>
          <app-button-group-item text="Delete"
                                 i18n-text
                                 (click)="deleteParticipant(participant)">
          </app-button-group-item>
        </app-button-group>
      </td>
      <td>{{participant.surname}}</td>
      <td>{{participant.prename}}</td>
      <td>
        <app-gender [gender]="participant.gender"></app-gender>
      </td>
      <td>{{participant.address}}</td>
      <td>
        <div class="form-check">
          <input class="form-check-input"
                 type="checkbox"
                 [(ngModel)]="participant.isAbsent"
                 (change)="toggleAbsent(participant)">
        </div>
      </td>
      <td>
        <app-sport-type-input size="sm"
                              [(ngModel)]="participant.sportType"
                              (change)="toggleSportType(participant)">
        </app-sport-type-input>
      </td>
    </tr>
    </tbody>
  </table>

  <ng-template #spinner>
    <app-card-spinner></app-card-spinner>
  </ng-template>
</app-simple-page>
