@import '../../@theme/styles/themes';

@include nb-install-component() {

    .dropzone {
        height: 150px;
        border: 2px dashed nb-theme(color-ghost);

        &.drag-enter, &.drag-enter h3 {
            //border-color: nb-theme(color-primary);
            color: nb-theme(color-primary);
        }

        &.drag-success, &.drag-success h3 {
            color: nb-theme(color-info);
        }

        .area {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}



